form {
    padding-top: 5vh;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    left: 2vw;
    top: 10%;

    div {
        position: relative;
        width: 27%;
        text-align: center;
    }

    label, .checkbox {
        margin-bottom: 10px;
        padding-top: 20px;
    }
    input {
        margin-bottom: 7px;
        // padding-bottom: 10px;
    }

    .checkbox {
        width: 20px;
        height: 20px;
    }

}